[Unit]
Description=Contest management system written in Python

[Service]
Type=forking
ExecStart=/usr/local/sbin/pysistem start
ExecStop=/usr/local/sbin/pysistem stop

[Install]
WantedBy=multi-user.target
