{% extends "base.html" %}
{% block title %}{{ _('title.changepassword') }}{% endblock %}
{% block content %}
<div class="container">
<div class="col-md-8 col-md-offset-2">
<h2 class="page-header text-center">
    <a href="{{ url_for('users.profile', username=user.username) }}" style="float: left; color: gray">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    {{ user.username }}
</h2>
<form method="POST" action="{{ url_for('users.change_password', username=user.username) }}" role="form" class="form-horizontal">
<div class="panel panel-default">
<div class="panel-heading">
{{ _('title.changepassword') }}
</div>
<div class="panel-body">
    {% if g.user.id == user.id %}
    <label for="old_password" class="col-sm-6 control-label">
        {{ _('users.changepassword.oldpassword') }}
    </label>
    <div class="col-sm-6">
        <input type="password" class="form-control" id="old_password" name="old_password"
        placeholder="{{ _('users.changepassword.oldpassword') }}" autocomplete="off" />
    </div>
    {% endif %}
    <label for="new_password" class="col-sm-6 control-label">
        {{ _('users.changepassword.newpassword') }}
    </label>
    <div class="col-sm-6">
        <input type="password" class="form-control" id="new_password" name="new_password"
        placeholder="{{ _('users.changepassword.newpassword') }}" autocomplete="off" />
    </div>
    <label for="new_password_confirm" class="col-sm-6 control-label">
        {{ _('users.changepassword.newpasswordconfirm') }}
    </label>
    <div class="col-sm-6">
        <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm"
        placeholder="{{ _('users.changepassword.newpasswordconfirm') }}" autocomplete="off" />
    </div>
</div>
</div>

<div class="col-sm-6 col-sm-offset-3" style="margin-top: 16px">
<button type="submit" name="update_info" class="btn btn-lg btn-primary btn-block">
    {{ _('common.update') }}
</button>
</div>

</form>
</div>
</div>
{% endblock %}