{% extends "base.html" %}
{% block title %}{{ _('title.profile') }}{% endblock %}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading">
<span class="glyphicon glyphicon-user"></span>
{{ user.username }}
</div>
<div class="panel-body">
<p>
{{ _('common.firstname') }}: {{ user.first_name or '' }}
</p>
<p>
{{ _('common.lastname') }}: {{ user.last_name or '' }}
</p>
<p>
{{ _('common.email') }}: {{ (user.get_email() or '')|safe }}
</p>
{% if user.check_permissions() %}
<div class="pull-right">
<a href="#" class="btn btn-default btn-lg">
    {{ _('common.changepasswd') }}
</a>
<a href="{{ url_for('users.edit_profile', username=user.username) }}" class="btn btn-primary btn-lg">
    {{ _('common.edit') }}
</a>
</div>
<table class="table" id="table-submissions">
{{ rendered_subs|safe }}
</table>
<script type="text/javascript">
    $(document).ready(function() {
        $("#table-submissions").DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "language": {
                "emptyTable": "{{ _('datatables.emptytable') }}",
                "zeroRecords": "{{ _('datatables.zerorecords') }}"
            }
        })
    })
</script>
{% endif %}
</div>
</div>
{% endblock %}