{% extends "groups/base.html" %}
{% block group_nav_link_contests %}active{% endblock %}
{% block group_content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#table-contests").DataTable({
            "paging": false,
            "info": false,
            "language": {
                "search": "{{ _('datatables.search') }} ",
                "emptyTable": "{{ _('datatables.emptytable') }}",
                "zeroRecords": "{{ _('datatables.zerorecords') }}"
            }
        })
    })
</script>

<div class="table-responsive" style="display: inline-block; width: 100%">
<table class="table table-stripped" id="table-contests">
{{ rawlist|safe }}
</table>
</div>
{% endblock %}