{% extends "groups/base.html" %}
{% block group_nav_link_lessons %}active{% endblock %}
{% block group_content %}
<div style="float: right; margin-bottom: 16px">
<a href="{{ url_for('lessons.new', group_id=group.id) }}" class="btn btn-success" id="btn-newlesson">
    {{ _('lessons.new') }}
</a>
</div>
<table class="table table-hover">
<thead>
    <tr>
        <th>{{ _('common.name') }}</th>
        <th>{{ _('contests.start') }}</th>
        <th>{{ _('common.duration') }}</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for lesson in group.lessons %}
    {% if (lesson.start <= g.now) and (lesson.end >= g.now) %}
    <tr class="active">
    {% else %}
    <tr>
    {% endif %}
        <td>
            <a href="{{ url_for('lessons.delete', lesson_id=lesson.id) }}" class="text-danger" title="{{ _('common.delete') }}" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="{{ url_for('lessons.edit', lesson_id=lesson.id) }}">
                {{ lesson.name }}
            </a>
        </td>
        <td>{{ lesson.start|naturaldate }}</td>
        <td>{{ (lesson.end - lesson.start).total_seconds()|timeonly(enable_seconds=False) }}</td>
        <td>
            {% if not lesson.auto_marks_applied %}
            {% if lesson.users and lesson.auto_marks %}
            {% if lesson.end < g.now %}<b>{% endif %}
            <a href="{{ url_for('lessons.apply_auto_marks', lesson_id = lesson.id) }}">
                {{ _('lessons.applyautomarks') }}&nbsp;»
            </a>
            {% if lesson.end < g.now %}</b>{% endif %}
            {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
