{% extends "base.html" %}
{% block title %}{{ problem.name }}{% endblock %}
{% block content %}
{% block problem_nav %}
<h2 class="text-center page-header">
    {{ problem.name }}
</h2>
{% if g.user.is_admin(problem=problem) %}
<div id="modal-confirm-delete" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ _('problems.delete.confirm') }}</h4>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" onclick="$('#modal-confirm-delete').modal('hide')"
            class="btn btn-default">
                {{ _('common.cancel') }}
            </a>
            <a href="{{ url_for('problems.delete', id=problem.id) }}"
            class="btn btn-danger">
                {{ _('common.delete') }}
            </a>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}
<ul class="nav nav-tabs">
    <li role="presentation" class="{% block problem_navbar_link_view %}{% endblock %}">
        <a href="{{ url_for('problems.view', id=problem.id) }}">{{ _('common.statement') }}</a>
    </li>
    {% if g.user.id %}
    <li role="presentation" class="{% block problem_navbar_link_submissions %}{% endblock %}">
        <a href="{{ url_for('problems.submissions', id=problem.id) }}">{{ _('title.problem.submissions') }}</a>
    </li>
    {% if g.user.is_admin(problem=problem) %}
    <li role="presentation" class="{% block problem_navbar_link_edit %}{% endblock %}">
        <a href="{{ url_for('problems.edit', id=problem.id) }}">{{ _('title.problem.edit') }}</a>
    </li>
    <li role="presentation" class="{% block problem_navbar_link_tests %}{% endblock %}">
        <a href="{{ url_for('problems.tests', id=problem.id) }}">{{ _('title.problem.testpairs') }}</a>
    </li>
    <li role="presentation" class="{% block problem_navbar_link_checkers %}{% endblock %}">
        <a href="{{ url_for('problems.checkers', id=problem.id) }}">{{ _('title.problem.checkers') }}</a>
    </li>
    <li role="presentation" class="dropdown">
        <a id="problem-more-dropdown" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ _('common.more') }}...
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="problem-more-dropdown">
            <li>
                <a href="{{ url_for('problems.export', id=problem.id) }}" target="_blank">
                    {{ _('problems.export') }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('problems.delete', id=problem.id) }}" id="delbtn">
                    {{ _('common.delete') }}
                </a>
                <script type="text/javascript">
                    $("#delbtn").click(function() {
                        $('#modal-confirm-delete').modal('show');
                        return false;
                    })
                </script>
            </li>
        </ul>
    </li>
    {% endif %}
    {% endif %}
</ul>
<br />
{% endblock %}
{% block problem_content %}
{% endblock %}
{% endblock %}