{% extends "problems/base.html" %}
{% block problem_navbar_link_submissions %}active{% endblock %}
{% block problem_content %}

<h3>{{ _('problems.submissions.new') }}</h3>

<form method="POST" enctype="multipart/form-data" action="{{ url_for('problems.submissions', id=problem.id) }}">
<label for="compiler">{{ _('common.compiler') }}</label>
<select name="compiler" class="form-control" id="compiler">
{% for compiler in compilers %}
<option value="{{ compiler.id }}" {% if loop.index == 1 %}selected="selected"{% endif %}>{{ compiler.name }}</option>
{% endfor %}
</select><br />
<label for="source">{{ _('common.source') }}</label>
<input type="file" id="source" name="source_file" /><br />
<button type="submit" role="button" class="btn btn-primary">{{ _('common.submit') }}</button>
</form>

<hr />

{% if g.user.role == 'admin' %}
<table class="table" id="table-users">
<caption>
{{ _('problems.submissions.attemptedusers') }}
</caption>
<tbody>
{% for nuser in attempted_users %}
<tr class="{{ problem.user_status(nuser, only_color=True) }}">
    <td>
        <a href="{{ url_for('users.profile', username=nuser.username) }}">
            {% if nuser.id == user.id %}
            <b>{{ nuser.username }}</b>
            {% else %}
            {{ nuser.username }}
            {% endif %}
        </a>
    </td>
    <td>
        {{ problem.user_status(nuser, color=False)|safe }}
    </td>
    <td>
        <a href="{{ url_for('problems.submissions', username=nuser.username, id=problem.id) }}">
            {{ _('title.problem.submissions') }} »
        </a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<table class="table" id="table-submissions">
<caption>
{{ _('problems.submissions.belonging', username=user.username) }}
</caption>
{{ rendered_subs|safe }}
</table>
<script type="text/javascript">
    $(document).ready(function() {
        $("#table-submissions").DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "language": {
                "emptyTable": "{{ _('datatables.emptytable') }}",
                "zeroRecords": "{{ _('datatables.zerorecords') }}"
            }
        })
    })
</script>
{% endblock %}