{% if submissions %}
{% if not hide_source %}
<script type="text/javascript">
    function load_submission(id) {
        sub = $('#submission' + id + '_source');
        if (sub.html() != '') {
            sub.toggle();
            if (sub.is(':visible'))
                return "{{ _('common.hide') }}"
            else
                return "{{ _('common.show') }}"
        }
        sub.load(
            '/submission/' + id + '/source', function() {
                sub.show();
                hljs.highlightBlock(sub[0]);
        })
        return "{{ _('common.hide') }}";
    }
</script>
{% endif %}
{% if g.user.is_admin(submission=submissions) and not disable_all_actions %}
<caption>
    <span class="pull-right">
        <a href="{{ url_for('submissions.recheck_all', ids=submissions|ids) }}">
            {{ _('problems.submissions.recheck.all') }}
        </a> /
        <a href="{{ url_for('submissions.reject_all', ids=submissions|ids) }}">
            {{ _('problems.submissions.reject.all') }}
        </a> /
        <a href="{{ url_for('submissions.delete_all', ids=submissions|ids) }}">
            {{ _('problems.submissions.delete.all') }}
        </a>
    </span>
</caption>
{% endif %}
<thead>
<tr>
    <th>ID</th>
    {% if show_user %}
    <th>{{ _('common.user') }}</th>
    {% endif %}
    <th>{{ _('submissions.submitted') }}</th>
    {% if show_problem %}
    <th>{{ _('common.problem') }}</th>
    {% endif %}
    {% if not hide_source %}
    <th>{{ _('common.source') }}</th>
    {% endif %}
    <th>{{ _('common.language') }}</th>
    <th>{{ _('submissions.status') }}</th>
</tr>
</thead>
<tbody>
{% for submission in submissions[::-1] %}
<tr>
    <td>{{ submission.id }}</td>
    {% if show_user %}
    <td>
        <a href="{{ url_for('users.profile', username=submission.user.username) }}">
            {{ submission.user.username }}
        </a> 
    </td>
    {% endif %}
    <td>
        <span name="st{{ submission.id }}">
            {{ submission.submitted|naturaltime }}
        </span>
        <span style="display: none" name="st{{ submission.id }}">
            {{ submission.submitted|dtp }}
        </span>&nbsp;
        <a href="#" onclick="$('[name=st{{ submission.id }}]').toggle(); return false;">
            <span class="glyphicon glyphicon-time"></span>
        </a>
    </td>
    {% if show_problem %}
    <td>
        <a target="_blank" href="{{ url_for('problems.view', problem_id=submission.problem.id) }}">
            {{ submission.problem.name }}
        </a>
    </td>
    {% endif %}
    {% if not hide_source %}
    <td><pre id="submission{{ submission.id }}_source" style="display: none;"></pre>
        <a href="/submission/{{ submission.id }}/source"
        onclick="$(this).html(load_submission({{ submission.id }})); return false;">{{ _('common.show') }}</a>
    </td>
    {% endif %}
    <td>{{ submission.compiler.name }}</td>
    <td>
        {{ submission.get_str_result(color=True)|safe }}
        <a href="#" onclick="$('#subactions-{{ submission.id }}').toggle(); $(this).toggleClass('dropup'); return false;">
            <span class="caret caret-big pull-right"></span>
        </a>
        <p id="subactions-{{ submission.id }}" style="display: none">
        <a target="_blank" href="{{ url_for('submissions.view', submission_id=submission.id) }}">
            {{ _('problems.submissions.view') }}
        </a><br />
        {% if g.user.is_admin(submission=submission) or submission.is_compile_failed() %}
        <a target="_blank" href="{{ url_for('submissions.compilelog', submission_id=submission.id) }}">
            {{ _('problems.submissions.viewcompilelog') }}
        </a>
        {% endif %}
        {% if g.user.is_admin(submission=submission) %}
        <br />
        <a href="{{ url_for('submissions.recheck', submission_id=submission.id) }}">
            {{ _('problems.submissions.recheck') }}
        </a><br />
        {% if submission.result != 8 %}
        <a href="{{ url_for('submissions.reject', submission_id=submission.id) }}">
            {{ _('problems.submissions.reject') }}
        </a><br />
        {% endif %}
        <a href="{{ url_for('submissions.delete', submission_id=submission.id) }}">
            {{ _('problems.submissions.delete') }}
        </a>
        </p>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
<style type="text/css">
    .caret-big {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid;
    }

    .dropup .caret-big {
        border-bottom: 6px solid;
    }
</style>
{% else %}
<caption>
{{ _('submissions.list.empty') }}
</caption>
{% endif %}