<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlightjs/default.min.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.bootstrap.min.css') }}" />

    <script type="text/javascript"
    src="{{ url_for('static', filename='jquery.min.js') }}">        
    </script>

    <script type="text/javascript"
    src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}">
    </script>

    <script type="text/javascript"
    src="{{ url_for('static', filename='datatables/datatables.min.js') }}"> 
    </script>

    <script type="text/javascript"
    src="{{ url_for('static', filename='datatables/datatables.bootstrap.min.js') }}">
    </script>

    <script type="text/javascript"
    src="{{ url_for('static', filename='highlightjs/highlight.min.js') }}">
    </script>
    <script>hljs.initHighlightingOnLoad();</script>

    <style type="text/css">
        @media (max-width: 768px) {
            .nav-tabs > li {
                float: none; border: 1px solid #dddddd;
            }
            .nav-tabs > li.active {
                background: #eeeeee; 
            }
            .nav-tabs > li.active > a {
                border: 1px solid transparent;
            }
            .nav > li > a:hover,
            .nav > li > a:focus,
            .nav-tabs > li.active > a,
            .nav-tabs > li.active > a:hover,
            .nav-tabs > li.active > a:focus {
                background: none; border: 1px solid transparent; 
            } 
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #eee;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body > .container {
            padding: 0 15px 0;
        }

        .footer > .container > p {
            margin: 20px 0;
        }

        .footer > .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        #content {
            margin-bottom: 72px;
        }
    </style>

    <title>{% block title %}{% endblock %} - PySistem</title>

    {% endblock %}
</head>
<body>
{% if g.user.is_admin() %}
<div id="modal-create-group" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <form method="POST" action="{{ url_for('groups.create') }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ _('title.groups.new') }}</h4>
    </div>
    <div class="modal-body">
        <input name="name" type="text" class="form-control" placeholder="{{ _('common.name') }}" />
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" onclick="$('#modal-create-group').modal('hide')"
            class="btn btn-default">
                {{ _('common.cancel') }}
            </a>
            <button type="submit" class="btn btn-primary">
                {{ _('common.create') }}
            </button>
        </div>
    </div>
    </form>
</div>
</div>
</div>
{% endif %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#main-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand">PySistem</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar-collapse">

            {% if not g.disable_navbar %}
            <ul class="nav navbar-nav">
                <li class="{% block navbar_link_home %}{% endblock%}">
                    <a href="{{ url_for('index') }}">{{ _('title.home') }}</a>
                </li>
                <li class="{% block navbar_link_contests %}{% endblock%}">
                    <a href="{{ url_for('contests.list') }}">{{ _('title.contestlist') }}</a>
                </li>
                {% if g.user_groups or g.user.is_admin() %}
                <li class="dropdown {% block navbar_link_groups %}{% endblock %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                {{ _('title.groups') }}
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for role in ['admin', 'user'] %}
                    {% if g.user_groups.get(role) %}
                        {% if role == 'admin' %}
                        {% if not g.user.is_admin() %}
                        <li class="dropdown-header">{{ _('groups.role.admin') }}</li>
                        {% endif %}
                        {% else %}
                        {% if g.user_groups.get('admin') %}
                        <li class="divider"></li>
                        {% endif %}
                        <li class="dropdown-header">{{ _('groups.role.user') }}</li>
                        {% endif %}
                        {% for group in g.user_groups.get(role) %}
                        <li>
                            <a href="{{ url_for('groups.contests', group_id=group.id) }}">
                                {{ group.name }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% if g.user.is_admin() %}
                    {% if g.user_groups.get('admin') %}
                    <li class="divider"></li>
                    {% endif %}
                    <li>
                        <a href="#" id="create-group">
                            <span class="glyphicon glyphicon-plus"></span>
                            {{ _('groups.new') }}
                        </a>
                        <script type="text/javascript">
                            $("#create-group").click(function() {
                                $("#modal-create-group").modal('show')
                            })
                        </script>
                    </li>
                    {% endif %}
                </ul>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-flag"></span>
                    {{ _('common.language') }}
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for lang in config.LANGUAGES %}
                        <li {% if session.language == lang %}class="active"{% endif %}>
                            <a href="{{ url_for('locale.set', lang=lang) }}">{{ config.LANGUAGES[lang] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if not g.disable_navbar %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    {% if not g.user.is_guest() %}
                        {{ g.user.username }}
                    {% else %}
                        {{ _('common.anonymous') }}
                    {% endif %}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if not g.user.is_guest() %}
                            <li><a href="{{ url_for('users.profile') }}">{{ _('title.profile') }}</a></li>
                        {% if g.user.is_admin() %}
                            <li><a href="{{ url_for('settings.edit') }}">{{ _('title.settings') }}</a></li>
                        {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('users.logout') }}">{{ _('title.logout') }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('users.login') }}">{{ _('title.login') }}</a></li>
                        {% if g.SETTINGS.get('allow_signup', True) %}
                            <li><a href="{{ url_for('users.signup') }}">{{ _('title.signup') }}</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
    <div class="container" id="content">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="alert
alert-{% if message[:2] == '::' %}{{ message[2:message.find(' ')] }}{% else %}info{% endif %}
alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    {% if message[:2] == '::' %}
                        {{ message[message.find(' ') + 1:] }}
                    {% else %}
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <div class="footer">
        <div class="container">
        <p>
            PySistem {{ config.get('VERSION') }}
        </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
