{% extends "base.html" %}
{% block title %}{{ contest.name }}{% endblock %}
{% block content %}
{% block contest_nav %}
<script type="text/javascript">
    var updateTimeInterval;
    var cfinished = false;
    var timestamp = Math.floor(
        {% if g.now < contest.start %}
            {{ contest.start.timestamp() * 1000 }}
        {% else %}
            {{ contest.end.timestamp() * 1000 }}
        {% endif %}
    );
    function timeFormat(ms) {
        if (cfinished) {
            clearInterval(updateTimeInterval);
            return $("#contest_remaining").html()
        }
        if (ms < 0) {
            window.location.reload()
            return "00:00:00"
        }
        var seconds = Math.floor(ms / 1000);
        var minutes = Math.floor(seconds / 60);
        var hours = Math.floor(minutes / 60);
        seconds = seconds % 60;
        minutes = minutes % 60;

        hours = (hours < 10) ? ("0" + hours) : hours;
        minutes = (minutes < 10) ? ("0" + minutes) : minutes;
        seconds = (seconds < 10) ? ("0" + seconds) : seconds;
        return hours + ":" + minutes + ":" + seconds;
    }

    function updateTime() {
        $("#contest_remaining").html(timeFormat(
            timestamp - Date.now()));
        if (timestamp < Date.now()) {
            cfinished = true;
        }
    }

    function toggleSidebar() {
        $("#contest-content")
        .toggleClass("col-sm-9")
        .toggleClass("col-sm-12")

        $("#contest-sidebar").toggle()
    }

    $(document).ready(function() {
        updateTimeInterval = setInterval(updateTime, 1000);
        $("#contest-sidebar-toggle").click(function() {
            toggleSidebar()
        })
    })
</script>
<h2 class="text-center page-header">
    <a href="#" id="contest-sidebar-toggle" style="float: left; color: gray">
        <span class="glyphicon glyphicon-list"></span>
    </a>
    {{ contest.name }}
</h2>
{% if g.user.is_admin(contest=contest) %}
<div id="modal-confirm-delete" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ _('contests.delete.confirm') }}</h4>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" onclick="$('#modal-confirm-delete').modal('hide')"
            class="btn btn-default">
                {{ _('common.cancel') }}
            </a>
            <a href="{{ url_for('contests.delete', id=contest.id) }}"
            class="btn btn-danger">
                {{ _('common.delete') }}
            </a>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}
<div class="row">
<div class="col-sm-3" id="contest-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="{% block contest_nav_link_problems %}{% endblock %}">
            <a href="{{ url_for('contests.problems', id=contest.id) }}">{{ _('contests.problems') }}</a>
        </li>
        <li role="presentation" class="{% block contest_nav_link_scoreboard %}{% endblock %}">
            <a href="{{ url_for('contests.scoreboard', id=contest.id) }}">{{ _('contests.scoreboard') }}</a>
        </li>
        {% if g.user.is_admin(contest=contest) %}
        <li role="presentation" class="{% block contest_nav_link_edit %}{% endblock %}">
            <a href="{{ url_for('contests.edit', id=contest.id) }}">{{ _('contests.edit') }}</a>
        </li>
        <li role="presentation">
            <a href="{{ url_for('contests.delete', id=contest.id) }}" id="delbtn">{{ _('common.delete') }}</a>
        </li>
        <script type="text/javascript">
            $("#delbtn").click(function() {
                $('#modal-confirm-delete').modal('show');
                return false;
            })
        </script>
        {% endif %}
    </ul>
    <hr />
    {{ _('contests.start') }}: {{ contest.start|naturaldate }} <br />
    {{ _('contests.end') }}: {{ contest.end|naturaldate }} <br />
    {% if g.now >= contest.start %}
        {{ _('contests.remaining') }}:
    {% else %}
        {{ _('contests.beforestart') }}:
    {% endif %}
    <span id="contest_remaining">
        {% if g.now >= contest.start %}
            {% if (contest.end - g.now).total_seconds() > 0 %}
            {{ (contest.end - g.now).total_seconds()|timeonly }}
            {% else %}
            <i>{{ _('contests.finished') }}</i>
            <script type="text/javascript">
                cfinished = true;
            </script>
            {% endif %}
        {% else %}
            {{ (contest.start - g.now).total_seconds()|timeonly }}
        {% endif %}
    </span>
    <br />
    {% if contest.is_frozen() %}
    {% if not contest.is_admin_frozen() %}
    <b>{{ _('contest.frozen') }}</b>
    {% else %}
    <b>{{ _('contest.adminfrozen') }}</b>
    {% endif %}
    {% endif %}
</div>
<div class="col-sm-9" id="contest-content">
{% endblock %}
{% block contest_content %}
{% endblock %}
{% block contest_nav_end %}
</div>
</div>
{% endblock %}
{% endblock %}