{% extends "base.html" %}
{% block title %}{{ _('title.contestctl') }}{% endblock %}
{% block content %}
<div class="container">
<div class="col-md-8 col-offset-2">
{% if error %}
<div class="alert alert-danger text-center"><b>{{ _('common.error') }}: </b>{{ error }}</div>
{% endif %}
<div class="page-header text-center">
    <h2>{{ contest.name or _('contest.new') }}</h2>
</div>
<form method="POST" action="{{ url_for('contests.ctl', id=contest.id) }}" role="form" class="form-horizontal">
<div class="form-group">
    <label for="name" class="col-sm-4 control-label">{{ _('common.name') }}</label>
    <div class="col-sm-8">
        <input type="text" name="name" id="name" placeholder="{{ _('common.name') }}"
        value="{{ contest.name or '' }}" />
    </div>
</div>
</form>
</div>
</div>
{% endblock %}