{% extends "contests/base.html" %}
{% block contest_nav_link_edit %}active{% endblock %}
{% block title %}
{% if contest.id %}
{{ super() }}
{% else %}
{{ _('contests.new') }}
{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript"
src="{{ url_for('static', filename='bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}">
</script>
{% if session['language'] == 'ru' %}
<script type="text/javascript"
src="{{ url_for('static', filename='bootstrap-datetimepicker/bootstrap-datetimepicker.ru.js') }}">
</script>
{% endif %}
{% endblock %}

{% block contest_nav %}
{% if contest.id %}
{{ super() }}
{% endif %}
{% endblock %}

{% block contest_nav_end %}
{% if contest.id %}
{{ super() }}
{% endif %}
{% endblock %}

{% block contest_content %}
{% if not contest.id %}
<h1 class="page-header text-center">
    {{ _('contests.new') }}
</h1>
{% endif %}
{% if error %}
<div class="alert alert-danger text-center"><b>{{ _('common.error') }}: </b>{{ error|safe }}</div>
{% endif %}
<form method="POST" action="
    {% if contest.id %}
        {{ url_for('contests.edit', contest_id=contest.id) }}
    {% else %}
        {{ url_for('contests.edit') }}
    {% endif %}
" role="form" class="form-horizontal">
{% if group %}
<input type="hidden" name="group_id" value="{{ group.id }}" />
{% endif %}
<div class="panel panel-default">
<div class="panel-heading">
    {{ _('common.general') }}
</div>
<div class="panel-body">
<div class="row">
<label for="name" class="col-sm-4 control-label">{{ _('common.name') }}</label>
<div class="col-sm-8">
    <input type="text" class="form-control" id="name" name="name"
    placeholder="{{ _('common.name') }}" value="{{ contest.name or '' }}" />
</div>
<label for="start" class="col-sm-4 control-label">{{ _('contests.start') }}</label>
<div class="col-sm-8">
    <input size="16" type="text" class="form-control form-datetime" id="start" name="start"
    placeholder="{{ _('contests.start') }}" value="{{ (contest.start or g.now)|dtp }}" />
</div>
<label for="freeze" class="col-sm-4 control-label">{{ _('contests.freeze') }}</label>
<div class="col-sm-8">
    <input size="16" type="text" class="form-control form-datetime" id="freeze" name="freeze"
    placeholder="{{ _('contests.freeze') }}" value="{{ (contest.freeze or g.now)|dtp }}" />
</div>
<label for="end" class="col-sm-4 control-label">{{ _('contests.end') }}</label>
<div class="col-sm-8">
    <input size="16" type="text" class="form-control form-datetime" id="end" name="end"
    placeholder="{{ _('contests.end') }}" value="{{ (contest.end or g.now)|dtp }}" />
</div>
<label for="rules" class="col-sm-4 control-label">{{ _('contests.ruleset') }}</label>
<div class="col-sm-8">
    <select name="ruleset" class="form-control">
    {% for ruleset in contest_rulesets %}
    <option value="{{ ruleset }}" autocomplete="off" {{ 'selected="selected"' if contest.rules == ruleset else ''}}>
        {{ contest_rulesets[ruleset] }}
    </option>
    {% endfor %}
    </select>
</div>
<div class="col-sm-offset-4 col-sm-8">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="unfreeze_after_end" {{ contest.unfreeze_after_end and 'checked' }} /> {{ _('contests.unfreezeafterend') }}
        </label>
    </div>
</div>
</div>
</div>
</div>
{% if admin_groups %}
<div class="panel panel-default">
<div class="panel-heading">
    {{ _('title.groups') }}
</div>
<div class="panel-body">
<div class="row">
{% for group in admin_groups %}
<div class="col-sm-offset-4 col-sm-8">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="group-{{ group.id }}" {{ group.active and 'checked' }} />
            {{ group.name }}
        </label>
    </div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endif %}
<div class="col-sm-4 col-sm-offset-4">
<button type="submit" name="update_contest" class="btn btn-lg btn-primary btn-block">
{% if contest.id %}
    {{ _('common.update') }}
{% else %}
    {{ _('common.create') }}
{% endif %}
</button>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".form-datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language: '{{ session['language'] }}'
        });
    })
</script>
</form>

{% endblock %}