<thead>
<tr>
    <th>#</th>
    <th>{{ _('common.user') }}</th>
    {% for problem in problems %}
    <th>
        <div class="text-center">
            <a class="problem-link" title="{{ problem.name }}" href="{{ url_for('problems.view', id=problem.id) }}">
            {{ problem.prefix }}
            </a>
            <span class="problem-name">
            {{ problem.prefix }}
            </span>
        </div>
    </th>
    {% endfor %}
    <th>+</th>
    <th>T</th>
</tr>
</thead>
<tbody>
{% for user in users %}
<tr id="scoreboard_row_u{{ user.id }}">
    <td>{{ loop.index }}</td>
    <td>{{ user['username'] }}</td>
    {% for problem in problems %}
    <td><div class="text-center">
    <b>
    {% if not user['is_solved'][problem.id]['succeed'] %}
    {% if user['is_solved'][problem.id]['failed'] > 0 %}
    -{{ user['is_solved'][problem.id]['failed'] or '' }}
    {% endif %}
    {% else %}
    <span class="text-success">
    +{{ user['is_solved'][problem.id]['failed'] or '' }}
    </span>
    {% endif %}
    </b><br />
    {{ user['is_solved'][problem.id]['time'] }}
    </div>
    </td>
    {% endfor %}
    <td>{{ user['score'][0] }}</td>
    <td>{{ user['score'][1] }}</td>
</tr>
{% endfor %}
</tbody>