<thead>
<th>{{ _('common.name') }}</th>
<th>{{ _('contests.problems') }}</th>
<th>{{ _('common.time') }}</th>
<th></th>
</thead>
<tbody>
{% for contest in contests %}
<tr>
    <td>
        <a href="{{ url_for('contests.problems', id=contest.id) }}">
        {% if (g.now >= contest.start) and (g.now <= contest.end) %}
        <b>{{ contest.name }}</b>
        {% else %}
        {{ contest.name }}
        {% endif %}
        </a>
    </td>
    <td style="white-space: nowrap;">
        {{ contest.problems|length }}
    </td>
    <td>

        {% if (contest.end - g.now).total_seconds() > 0 %}
        {% if g.now >= contest.start %}
            {{ _('contests.remaining') }}:
        {% else %}
            {{ _('contests.beforestart') }}:
        {% endif %}
        {% endif %}
        <span id="contest{{ contest.id }}_time">
            {% if g.now >= contest.start %}
                {% if (contest.end - g.now).total_seconds() > 0 %}
                {{ (contest.end - g.now).total_seconds()|timeonly }}
                {% else %}
                {{ _('contests.finished') }} {{ contest.end|naturaltime }}
                {% endif %}
            {% else %}
                {{ (contest.start - g.now).total_seconds()|timeonly }}
            {% endif %}
        </span>
    </td>
    <td>
        <a href="{{ url_for('contests.scoreboard', id=contest.id) }}">
        {{ _('contests.scoreboard') }}&nbsp;»
        </a>
    </td>
</tr>
{% endfor %}
</tbody>